<div class="container js-videosIndex">
  <h1 class="center">Videos</h1>
<%= form_tag import_videos_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "csvインポート" %>
<% end %>

  <div class="row">
    <% @videos.each do |video| %>
      <div class="col s4 m6">
        <div class="card btn">
          <span class="material-icons" v-on:click="setVideoInfo(<%= video.id %>)">
            <%= video.title %>
            <%#= video.view %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'video' %>
